<footer>
    <hr/>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                <img class="img-responsive" src="{{ url_for('static', filename='/images/foreground/base/logo.png') }}"/>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                <p class="title">How it work</p>
                <p>
                    <a href="">How to create a project</a>
                </p>
                <p>
                    <a href="">How to support a project</a>
                </p>
                <p>
                    <a href="">How to earn Birdie Coin and how it works</a>
                </p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                <p class="title">Our Feature</p>
                <p>
                    <a href="">Lorem ipsum dolor </a>
                </p>
                <p>
                    <a href="">Lorem ipsum dolor </a>
                </p>
            </div>
            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                <p class="title">ABOUT US</p>
                <p>
                    <a href="">Our mission</a>
                </p>
                <p>
                    <a href="">Meet the team</a>
                </p>
                <p>
                    <a href="">Blog</a>
                </p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                <p class="title">SUPPORT</p>
                <p>
                    <a href="">FAQ</a>
                </p>
                <p>
                    <a href="">Contact us</a>
                </p>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                <p class="title">FIND US</p>
                <p class="text">Phone:89490234</p>
                <p class="text">Email: ifojas@gamail.com</p>
                <p class="text">Address: iasudidasdas.dais,la,91748</p>
                <div class="icon">
                    <a href=""><img class="img-responsive" src="{{ url_for('static', filename='/images/foreground/base/Facebook.png') }}" alt="facebook"/></a>
                    <a href=""><img class="img-responsive" src="{{ url_for('static', filename='/images/foreground/base/Instagram.png') }}" alt="instagram"/></a>
                    <a href=""><img class="img-responsive" src="{{ url_for('static', filename='/images/foreground/base/Twitter.png') }}" alt="twitter"/></a>
                    <a href=""><img class="img-responsive" src="{{ url_for('static', filename='/images/foreground/base/Wechat.png') }}" alt="wechat"/></a>
                </div>
            </div>
        </div>

    </div>

    <hr/>
    <div class="copy_right">
        <span>Copy right © 2021 FUNDABIRD</span>
        <span><a href="">Terms of Use</a></span>
        <span><a href="">Privacy Policy</a></span>
    </div>
</footer>