<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav"
                        aria-expanded="false">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('mall.index') }}">
                    <img src="{{ url_for('static', filename='/images/foreground/base/logo.png') }}"/>
                </a>
            </div>

            <div class="navbar-collapse collapse" id="mainNav">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="">HOW IT WORK</a>
                    </li>
                    <li>
                        <a href="">OUR FEATURE</a>
                    </li>
                    <li>
                        <a href="">SUPPORT</a>
                    </li>
                    <li>
                        <a href="">POST PROJECT</a>
                    </li>
                    <li>
                        <a href="">EXPLORE</a>
                    </li>
                    {% if g.user %}
                        <li class="dropdown">
                            <div>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    {% if g.user.avatar %}
                                        <img class="img-circle" alt="avatar" src="{{ url_for('static', filename=g.user.avatar) }}"/>
                                    {% else %}
                                        <img class="img-circle" alt="" src="{{ url_for('static', filename='images/foreground/base/4.jpg') }}">
                                    {% endif %}
                                    <span class="hidden-lg">{{ g.user.email }}</span>
                                </a>
                                <ul class="dropdown-menu sign-in">
                                    <li>
                                        <a href="{{ url_for('mall.edit_profile') }}">Edit profile</a>
                                    </li>
                                    <li>
                                        <a href="">Wish List</a>
                                    </li>
                                    <li>
                                        <a href="">Support Project</a>
                                    </li>
                                    <li>
                                        <a href="">Post Project</a>
                                    </li>
                                    <li>
                                        <a href="">Inbox</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('mall.logout') }}">Log out</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url_for('mall.login') }}">LOGIN</a>
                        </li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </nav>
</header>