{% from 'macro/form_errors.html' import form_field_errors %}
<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zxx">
<!--<![endif]-->
<!-- Begin Head -->

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!--作者-->
    <meta name="author" content="lgsp_Harold-Hua">
    <meta name="MobileOptimized" content="320">
    <!--公共样式 -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/background/fonts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/background/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/background/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/background/icofont.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/background/style.css') }}">
    <link rel="stylesheet" id="theme-change" type="text/css" href="">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='css/background/global.css') }}">
    <!--私有样式-->
    {% block css %}{% endblock %}
</head>

<body>
{% block layout %}
    <div class="loader">
	  <div class="spinner">
		<img src="{{ url_for('static', filename='images/background/base/loader.gif') }}" alt="">
	  </div>
	</div>
    <!-- Main Body -->
    <div class="page-wrapper">
        <!-- Header Start -->
        {% include 'background/components/header.html' %}
        <!-- Sidebar Start -->
        {% include 'background/components/sidebar.html' %}

        <!-- Container Start -->
        <div class="page-wrapper">
            <div class="main-content">
                {% block content %}{% endblock %}
                {% include 'background/components/footer.html' %}
            </div>
        </div>
    </div>

{% endblock %}
<!--公共js-->
<script src="{{ url_for('static', filename='js/background/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/background/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/background/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/background/custom.js') }}"></script>

<!--私有js-->
{% block js %}{% endblock %}
</body>
</html>