@charset "UTF-8";
html {
    font-size: 62.5%;
    /* 10÷16=62.5% */
}

body {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    /* 12÷10=1.2 */
    background-color: #FFF;
    color: #0C0C0C;
}

a,
a:focus,
a:hover {
    text-decoration: none;
    color: #0C0C0C;
}

button,
input,
select,
textarea,
.button {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
    font-family: "Montserrat", sans-serif;
}

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    background-color: #3c8dbc;
    border: none;
    border-radius: 0;
}

.navbar-toggle {
    border: none;
}

.navbar-brand {
    margin: auto !important;
    float: none;
    padding: 0;
    line-height: 60px;
    height: 60px;
}

.navbar-brand img {
    margin: 14px 0;
    height: 32px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav > li {
    padding: 22px 0 22px 20px;
    line-height: 16px;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > div > a {
    padding: 0;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    color: #000;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav > li:last-child {
    display: flex;
}

.dropdown-menu > li > a {
    font-size: 12px;
    font-weight: 600;
}

.dropdown-menu > li > a:hover {
    background-color: transparent;
}

main.layout > div {
    display: flex;
}

main.layout > div aside {
    min-height: 1024px;
    flex: 1;
    background-color: #222d32;
    color: #FFF;
}

main.layout > div article {
    flex: 5;
}

main.layout > div aside .nav-pills span {
    margin-right: 10px;
    color: #FFF;

}

main.layout > div aside .nav-pills a {
    font-size: 18px;
    color: #b8c7ce;
}

main.layout > div aside .nav-pills a:hover,
main.layout > div aside .nav-pills a:active,
main.layout > div aside .nav-pills a:focus {
    color: #FFF;
    background-color: #3c8dbc;
}

aside.aside-menu .user-info {
    padding: 20px 15px;
    border-bottom: 1px solid #FFF;
    font-size: 18px;
}

aside.aside-menu .nav-pills > li.active > a,
aside.aside-menu .nav-pills > li.active > a:hover,
aside.aside-menu .nav-pills > li.active > a:active {
    background-color: #3c8dbc;
    color: #FFF;
}
footer {
    background-color: #FFF;
}
footer hr {
    margin: 0px 0 30px 0;
    border-color: #2E2E2E;
}

footer .copy_right {
    margin-top: 6px;
    margin-bottom: 14px;
    display: flex;
    justify-content: center;
}

footer .copy_right span {
    margin: 0 35px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #0C0C0C;
}
