<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<!--告诉浏览器准备接受一个 HTML 文档-->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<!--默认编码UTF-8-->
		<meta charset="UTF-8">
		<!--默认采用webkit模式-->
		<meta name="renderer" content="webkit" />
		<!--IE=edge告诉IE使用最新的引擎渲染网页，chrome=1则可以激活Chrome Frame-->
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<!--(设置确保适当的绘制和触屏缩放)-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏-->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!--控制状态栏显示样式-->
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--手机号码不被显示为拨号链接-->
		<meta name="format-detection" content="telephone=no" />
		<!--Email不被显示为发送Email链接-->
		<meta name="format-detection" content="email=no">
		<!--关键字-->
		<meta name="keywords" content="" />
		<!--描述信息-->
		<meta name="description" content="" />
		<!--作者-->
		<meta name="author" content="lgsp_Harold-Hua">
		<title>Innovation Detail</title>
		<!--重置部分默认样式-->
		<link rel="stylesheet" type="text/css" href="../css/normalize.css" />
		<!--bootstrap框架样式-->
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
		<!--动画样式-->
		<link rel="stylesheet" type="text/css" href="../css/animate.css" />
		<!--公共样式-->
		<!--<link rel="stylesheet" type="text/css" href="../css/google_fonts.css" />-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../css/global.css" />
		<!--私有样式-->
		<link rel="stylesheet" type="text/css" href="../css/watch.css" />
	</head>

	<body>
		<header>
			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false">
			        <span class="glyphicon glyphicon-menu-hamburger"></span>
			      </button>
						<a class="navbar-brand" href="index.html">
							<img src="../img/base/logo.png" />
						</a>
					</div>

					<div class="navbar-collapse collapse" id="mainNav">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="">HOW IT WORK</a>
							</li>
							<li>
								<a href="">OUR FEATURE</a>
							</li>
							<li>
								<a href="">SUPPORT</a>
							</li>
							<li>
								<a href="">POST PROJECT</a>
							</li>
							<li>
								<a href="">EXPLORE</a>
							</li>
							<li>
								<a href="login.html">LOGIN</a>
							</li>
							<li class="dropdown">
								<div>
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										<img class="img-circle img-responsive" src="../img/test/test_img.png" />
										<span class="hidden-lg hidden-md">11@gmail.com</span>
									</a>
									<ul class="dropdown-menu sign-in">
										<li>
											<a href="edit_profile">Edit porfile</a>
										</li>
										<li>
											<a href="">Wish List</a>
										</li>
										<li>
											<a href="">Support Project</a>
										</li>
										<li>
											<a href="">Post Project</a>
										</li>
										<li>
											<a href="">Inbox</a>
										</li>
										<li>
											<a href="">Log out</a>
										</li>
									</ul>
								</div>
							</li>

						</ul>
					</div>

				</div>
			</nav>
		</header>

		<main>
			<section class="section1">
				<div class="container">
					<ol class="breadcrumb">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="">Desgin & Tech</a>
						</li>
						<li class="active">Minimalist Watches Without the…</li>
					</ol>

					<h1 class="title">Minimalist Watches Without the Luxury</h1>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-8">
							<div id="carousel_slide" class="carousel slide">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#carousel_slide" data-slide-to="0" class="active"></li>
									<li data-target="#carousel_slide" data-slide-to="1"></li>
									<li data-target="#carousel_slide" data-slide-to="2"></li>
								</ol>

								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<img src="../img/test/test_img1440-900.png">
									</div>
									<div class="item">
										<img src="../img/test/test_img220-260.png">
									</div>
									<div class="item">
										<iframe width="100%" height="400" src="https://www.youtube.com/embed/aNTN-k2qQqc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									</div>
								</div>

							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-4">
							<p class="text">Mute EVA Sofa Slides Women Thick Sole Soft Indoor Slippers Women Anti-slip Sandals Men Summer Platform Women Shoes Bath Mute EVA Sofa Slides Women Thick Sole Soft Indoor Slippers Women Anti-slip Sandals Men Summer Platform Women Shoes Bath</p>
							<div class="wish_list">
								<p class="money">Original Price: $175</p>
								<a href=""><span class="glyphicon glyphicon-heart"></span>Add to Wish List</a>
							</div>

							<!-- Support Start-->
							<div>
								<div class="progress">
									<div class="progress-bar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
								</div>
								<div class="time">
									<div>
										<!-- Support -->
										<p>82 position of 100</p>
									</div>
									<div>
										<!-- Support -->
										<p>End in: 1d 12h 57m 42s</p>
									</div>
								</div>

								<div class="support_btn">
									<a href="innovation_payment.html">Support the Idea</a>
								</div>
							</div>
							<!-- Support End-->

							<!-- Support-end Start-->
							<div>
								<div class="progress">
									<div class="progress-bar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
								</div>
								<div class="time">
									<div>
										<p>The goal is archived！</p>
									</div>
									<div>
										<p>End in: 0d 0h 0m 0s</p>
									</div>
								</div>
								<div class="secure_btn">
									<div>
										<a href="javascript:;" class="buy_btn" data-toggle="modal" data-target="#buy-modal">BUY</a>
										<p class="price">Last Sale: $223</p>
										<p class="trend"><span class="glyphicon glyphicon-triangle-top"></span>$38(21.2%)</p>
									</div>
									<div>
										<a href="javascript:;" class="sell_btn" data-toggle="modal" data-target="#sell-modal">SELL</a>
										<p class="price">Highest Sale: $260</p>
									</div>
								</div>
							</div>
							<!-- Support-end End -->


							<hr />
							<div class="buy">
								<div>
									<img src="../img/base/cons.png" class="img-circle" />
									<p>Reward 3
										<a class="coins" href="">BIRDIE COINS</a>
									</p>
								</div>
								<a href="">Created by James Tim</a>
							</div>
						</div>
					</div>
				</div>

			</section>

			<section class="section2">
				<div class="container">
					<div class="wrapper wrapper03" id="wrapper03">
						<div class="scroller">
							<ul class="clearfix">
								<li class="active">
									<a href="#introduce" data-toggle="tab">Introduce</a>
								</li>
								<li>
									<a href="#comments" data-toggle="tab">Comments</a>
								</li>
								<li>
									<a href="#faq" data-toggle="tab">FAQ</a>
								</li>
								<li>
									<a href="#updates" data-toggle="tab">Updates</a>
								</li>
								<li>
									<a href="#history" data-toggle="tab">Price History</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-8">
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="introduce">Introduce</div>
								<div role="tabpanel" class="tab-pane" id="comments">
									<div class="logout">Only user can post comments.
										<a href="">Log in</a>
									</div>
									<div class="login">
										<textarea class="form-control" rows="" cols="" placeholder="Text something…"></textarea>
										<a href="javascript:;" class="post_btn">Post Comments</a>
									</div>

									<div class="reply-list">

										<!--comment start-->
										<div class="r-item">
											<div class="user-operate">
												<div>
													<div class="user-avatar">
														<img class="img-circle" src="../img/test/test_img.png" />
														<div class="circle"></div>
													</div>
													<div class="user-info">
														<p class="user-username">Jstion omu / Supporter</p>
														<p class="user-time">2h ago</p>
													</div>
												</div>
												<a href="#reply-id1" class="reply_btn">Reply</a>
											</div>
											<hr />
											<p class="r-text">
												A few days ago I noticed that my watch had stopped working. I assumed it was the battery so I took it to a local jeweller. They opened the back and tested the battery and found that it was still quite strong.
											</p>
											<hr />

											<!--reply start-->
											<div class="r-info">
												<div class="user-operate">
													<div>
														<div class="user-avatar">
															<img class="img-circle" src="../img/test/test_img.png" />
															<div class="circle"></div>
														</div>
														<div class="user-info">
															<p class="user-username">Jstion omu / Supporter</p>
															<p class="user-time">2h ago</p>
														</div>
													</div>
												</div>
												<div class="r-text bg-grey">
													Very sorry to hear that! We just sent you an email.
												</div>
											</div>
											<!--reply end-->

											<div class="r-info">
												<div class="user-operate">
													<div>
														<div class="user-avatar">
															<img class="img-circle" src="../img/test/test_img.png" />
															<div class="circle"></div>
														</div>
														<div class="user-info">
															<p class="user-username">Jstion omu / Supporter</p>
															<p class="user-time">2h ago</p>
														</div>
													</div>
												</div>
												<div class="r-text bg-grey">
													Very sorry to hear that! We just sent you an email.
												</div>
											</div>
											<div class="r-info">
												<div class="user-operate">
													<div>
														<div class="user-avatar">
															<img class="img-circle" src="../img/test/test_img.png" />
															<div class="circle"></div>
														</div>
														<div class="user-info">
															<p class="user-username">Jstion omu / Supporter</p>
															<p class="user-time">2h ago</p>
														</div>
													</div>
												</div>
												<div class="r-text bg-grey">
													Very sorry to hear that! We just sent you an email.
												</div>
											</div>

											<!--reply post start-->
											<div class="login hidden" id="reply-id1">
												<textarea class="form-control" rows="" cols="" placeholder="Text something…"></textarea>
												<a href="javascript:;" class="post_btn">Post Comments</a>
											</div>
											<!--reply post end-->
										</div>
										<!--comment end-->

										<div class="r-item">
											<div class="user-operate">
												<div>
													<div class="user-avatar">
														<img class="img-circle" src="../img/test/test_img.png" />
														<div class="circle"></div>
													</div>
													<div class="user-info">
														<p class="user-username">Jstion omu / Supporter</p>
														<p class="user-time">2h ago</p>
													</div>
												</div>
												<a href="#reply-id2" class="reply_btn">Reply</a>
											</div>
											<hr />
											<p class="r-text">
												A few days ago I noticed that my watch had stopped working. I assumed it was the battery so I took it to a local jeweller. They opened the back and tested the battery and found that it was still quite strong.
											</p>
											<hr />

											<div class="r-info">
												<div class="user-operate">
													<div>
														<div class="user-avatar">
															<img class="img-circle" src="../img/test/test_img.png" />
															<div class="circle"></div>
														</div>
														<div class="user-info">
															<p class="user-username">Jstion omu / Supporter</p>
															<p class="user-time">2h ago</p>
														</div>
													</div>
												</div>
												<div class="r-text bg-grey">
													Very sorry to hear that! We just sent you an email.
												</div>
											</div>
											<div class="r-info">
												<div class="user-operate">
													<div>
														<div class="user-avatar">
															<img class="img-circle" src="../img/test/test_img.png" />
															<div class="circle"></div>
														</div>
														<div class="user-info">
															<p class="user-username">Jstion omu / Supporter</p>
															<p class="user-time">2h ago</p>
														</div>
													</div>
												</div>
												<div class="r-text bg-grey">
													Very sorry to hear that! We just sent you an email.
												</div>
											</div>
											<div class="r-info">
												<div class="user-operate">
													<div>
														<div class="user-avatar">
															<img class="img-circle" src="../img/test/test_img.png" />
															<div class="circle"></div>
														</div>
														<div class="user-info">
															<p class="user-username">Jstion omu / Supporter</p>
															<p class="user-time">2h ago</p>
														</div>
													</div>
												</div>
												<div class="r-text bg-grey">
													Very sorry to hear that! We just sent you an email.
												</div>
											</div>
											<div class="login hidden" id="reply-id2">
												<textarea class="form-control" rows="" cols="" placeholder="Text something…"></textarea>
												<a href="javascript:;" class="post_btn">Post Comments</a>
											</div>
										</div>
										<div class="r-item">
											<div class="user-operate">
												<div>
													<div class="user-avatar">
														<img class="img-circle" src="../img/test/test_img.png" />
														<div class="circle"></div>
													</div>
													<div class="user-info">
														<p class="user-username">Jstion omu / Supporter</p>
														<p class="user-time">2h ago</p>
													</div>
												</div>
												<a href="#reply-id3" class="reply_btn">Reply</a>
											</div>
											<hr />
											<p class="r-text">
												A few days ago I noticed that my watch had stopped working. I assumed it was the battery so I took it to a local jeweller. They opened the back and tested the battery and found that it was still quite strong.
											</p>
											<hr />

											<div class="r-info">
												<div class="user-operate">
													<div>
														<div class="user-avatar">
															<img class="img-circle" src="../img/test/test_img.png" />
															<div class="circle"></div>
														</div>
														<div class="user-info">
															<p class="user-username">Jstion omu / Supporter</p>
															<p class="user-time">2h ago</p>
														</div>
													</div>
												</div>
												<div class="r-text bg-grey">
													Very sorry to hear that! We just sent you an email.
												</div>
											</div>
											<div class="r-info">
												<div class="user-operate">
													<div>
														<div class="user-avatar">
															<img class="img-circle" src="../img/test/test_img.png" />
															<div class="circle"></div>
														</div>
														<div class="user-info">
															<p class="user-username">Jstion omu / Supporter</p>
															<p class="user-time">2h ago</p>
														</div>
													</div>
												</div>
												<div class="r-text bg-grey">
													Very sorry to hear that! We just sent you an email.
												</div>
											</div>
											<div class="r-info">
												<div class="user-operate">
													<div>
														<div class="user-avatar">
															<img class="img-circle" src="../img/test/test_img.png" />
															<div class="circle"></div>
														</div>
														<div class="user-info">
															<p class="user-username">Jstion omu / Supporter</p>
															<p class="user-time">2h ago</p>
														</div>
													</div>
												</div>
												<div class="r-text bg-grey">
													Very sorry to hear that! We just sent you an email.
												</div>
											</div>
											<div class="login hidden" id="reply-id3">
												<textarea class="form-control" rows="" cols="" placeholder="Text something…"></textarea>
												<a href="javascript:;" class="post_btn">Post Comments</a>
											</div>
										</div>
										<div class="r-item">
											<div class="user-operate">
												<div>
													<div class="user-avatar">
														<img class="img-circle" src="../img/test/test_img.png" />
														<div class="circle"></div>
													</div>
													<div class="user-info">
														<p class="user-username">Jstion omu / Supporter</p>
														<p class="user-time">2h ago</p>
													</div>
												</div>
												<a href="#reply-id4" class="reply_btn">Reply</a>
											</div>
											<hr />
											<p class="r-text">
												A few days ago I noticed that my watch had stopped working. I assumed it was the battery so I took it to a local jeweller. They opened the back and tested the battery and found that it was still quite strong.
											</p>
											<hr />

											<div class="r-info">
												<div class="user-operate">
													<div>
														<div class="user-avatar">
															<img class="img-circle" src="../img/test/test_img.png" />
															<div class="circle"></div>
														</div>
														<div class="user-info">
															<p class="user-username">Jstion omu / Supporter</p>
															<p class="user-time">2h ago</p>
														</div>
													</div>
												</div>
												<div class="r-text bg-grey">
													Very sorry to hear that! We just sent you an email.
												</div>
											</div>
											<div class="r-info">
												<div class="user-operate">
													<div>
														<div class="user-avatar">
															<img class="img-circle" src="../img/test/test_img.png" />
															<div class="circle"></div>
														</div>
														<div class="user-info">
															<p class="user-username">Jstion omu / Supporter</p>
															<p class="user-time">2h ago</p>
														</div>
													</div>
												</div>
												<div class="r-text bg-grey">
													Very sorry to hear that! We just sent you an email.
												</div>
											</div>
											<div class="r-info">
												<div class="user-operate">
													<div>
														<div class="user-avatar">
															<img class="img-circle" src="../img/test/test_img.png" />
															<div class="circle"></div>
														</div>
														<div class="user-info">
															<p class="user-username">Jstion omu / Supporter</p>
															<p class="user-time">2h ago</p>
														</div>
													</div>
												</div>
												<div class="r-text bg-grey">
													Very sorry to hear that! We just sent you an email.
												</div>
											</div>
											<div class="login hidden" id="reply-id4">
												<textarea class="form-control" rows="" cols="" placeholder="Text something…"></textarea>
												<a href="javascript:;" class="post_btn">Post Comments</a>
											</div>
										</div>
										<div class="r-item">
											<div class="user-operate">
												<div>
													<div class="user-avatar">
														<img class="img-circle" src="../img/test/test_img.png" />
														<div class="circle"></div>
													</div>
													<div class="user-info">
														<p class="user-username">Jstion omu / Supporter</p>
														<p class="user-time">2h ago</p>
													</div>
												</div>
												<a href="#reply-id5" class="reply_btn">Reply</a>
											</div>
											<hr />
											<p class="r-text">
												A few days ago I noticed that my watch had stopped working. I assumed it was the battery so I took it to a local jeweller. They opened the back and tested the battery and found that it was still quite strong.
											</p>
											<hr />

											<div class="r-info">
												<div class="user-operate">
													<div>
														<div class="user-avatar">
															<img class="img-circle" src="../img/test/test_img.png" />
															<div class="circle"></div>
														</div>
														<div class="user-info">
															<p class="user-username">Jstion omu / Supporter</p>
															<p class="user-time">2h ago</p>
														</div>
													</div>
												</div>
												<div class="r-text bg-grey">
													Very sorry to hear that! We just sent you an email.
												</div>
											</div>
											<div class="r-info">
												<div class="user-operate">
													<div>
														<div class="user-avatar">
															<img class="img-circle" src="../img/test/test_img.png" />
															<div class="circle"></div>
														</div>
														<div class="user-info">
															<p class="user-username">Jstion omu / Supporter</p>
															<p class="user-time">2h ago</p>
														</div>
													</div>
												</div>
												<div class="r-text bg-grey">
													Very sorry to hear that! We just sent you an email.
												</div>
											</div>
											<div class="r-info">
												<div class="user-operate">
													<div>
														<div class="user-avatar">
															<img class="img-circle" src="../img/test/test_img.png" />
															<div class="circle"></div>
														</div>
														<div class="user-info">
															<p class="user-username">Jstion omu / Supporter</p>
															<p class="user-time">2h ago</p>
														</div>
													</div>
												</div>
												<div class="r-text bg-grey">
													Very sorry to hear that! We just sent you an email.
												</div>
											</div>
											<div class="login hidden" id="reply-id5">
												<textarea class="form-control" rows="" cols="" placeholder="Text something…"></textarea>
												<a href="javascript:;" class="post_btn">Post Comments</a>
											</div>
										</div>

									</div>
								</div>
								<div role="tabpanel" class="tab-pane" id="faq">
									<p class="text">
										Frequently Asked Questions
									</p>

									<div class="panel-group" id="accordion">

										<!--accordion-item-start-->
										<div class="panel">
											<div class="panel-heading" role="tab">
												<h4 class="panel-title">
									        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
									          <span>· <span>Where can I see high-res photos of all of the watches?</span></span>
									          <i class=" glyphicon glyphicon-menu-right"></i>
									        </a>
									      </h4>
											</div>
											<div id="collapse1" class="panel-collapse collapse">
												<div class="panel-body">
													http://www.linjdder.co ... Check under the MEN and WOMEN tabs!
												</div>
											</div>
										</div>
										<!--accordion-item-end-->
										<div class="panel">
											<div class="panel-heading" role="tab">
												<h4 class="panel-title">
									        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
									          <span>· <span>Where can I see high-res photos of all of the watches?</span></span>
									          <i class=" glyphicon glyphicon-menu-right"></i>
									        </a>
									      </h4>
											</div>
											<div id="collapse2" class="panel-collapse collapse">
												<div class="panel-body">
													http://www.linjdder.co ... Check under the MEN and WOMEN tabs!
												</div>
											</div>
										</div>
										<div class="panel">
											<div class="panel-heading" role="tab">
												<h4 class="panel-title">
									        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
									          <span>· <span>Where can I see high-res photos of all of the watches?</span></span>
									          <i class=" glyphicon glyphicon-menu-right"></i>
									        </a>
									      </h4>
											</div>
											<div id="collapse3" class="panel-collapse collapse">
												<div class="panel-body">
													http://www.linjdder.co ... Check under the MEN and WOMEN tabs! http://www.linjdder.co ... Check under the MEN and WOMEN tabs! http://www.linjdder.co ... Check under the MEN and WOMEN tabs! http://www.linjdder.co ... Check under the MEN and WOMEN tabs! http://www.linjdder.co ... Check under the MEN and WOMEN tabs! http://www.linjdder.co ... Check under the MEN and WOMEN tabs!

												</div>
											</div>
										</div>
									</div>

								</div>
								<div role="tabpanel" class="tab-pane" id="updates">
									<div class="update-list">
										<div class="item">
											<p class="sub-title">#20 One Year Later - Thank You</p>
											<hr />
											<div class="sub-text">
												Dearest Backers, Wow. This time last year, we had just finished the campaign that brought Linjer watches to life for the first time. To say the campaign was an overwhelming, humbling, and exceptional experience is an understatement, and it's thanks to all 4,771 of you that our watches are now a cornerstone part of the Linjer brand. The past year since the campaign ended has been filled with ups and downs, lessons learned, and watches shipped, and we hope that each one of you is still enjoying your watch- and that it continues to serve you well for years to come.
											</div>
											<p class="text-right">
												<a href="">Read More &gt;&gt;&gt;</a>
											</p>
											<div class="user-info">
												<div>
													<div class="user-avatar">
														<img class="img-circle" src="../img/test/test_img.png" />
														<div class="circle"></div>
													</div>
													<div class="identity">
														<p>James Tim</p>
														<p>Poster</p>
													</div>
												</div>
												<div class="u-date">Update 7/27/2021</div>
											</div>
										</div>

										<div class="item">
											<p class="sub-title">#20 One Year Later - Thank You</p>
											<hr />
											<div class="sub-text">
												Dearest Backers, Wow. This time last year, we had just finished the campaign that brought Linjer watches to life for the first time. To say the campaign was an overwhelming, humbling, and exceptional experience is an understatement, and it's thanks to all 4,771 of you that our watches are now a cornerstone part of the Linjer brand. The past year since the campaign ended has been filled with ups and downs, lessons learned, and watches shipped, and we hope that each one of you is still enjoying your watch- and that it continues to serve you well for years to come.
											</div>
											<p class="text-right">
												<a href="">Read More &gt;&gt;&gt;</a>
											</p>
											<div class="user-info">
												<div>
													<div class="user-avatar">
														<img class="img-circle" src="../img/test/test_img.png" />
														<div class="circle"></div>
													</div>
													<div class="identity">
														<p>James Tim</p>
														<p>Poster</p>
													</div>
												</div>
												<div class="u-date">Update 7/27/2021</div>
											</div>
										</div>

										<div class="item">
											<p class="sub-title">#20 One Year Later - Thank You</p>
											<hr />
											<div class="sub-text">
												Dearest Backers, Wow. This time last year, we had just finished the campaign that brought Linjer watches to life for the first time. To say the campaign was an overwhelming, humbling, and exceptional experience is an understatement, and it's thanks to all 4,771 of you that our watches are now a cornerstone part of the Linjer brand. The past year since the campaign ended has been filled with ups and downs, lessons learned, and watches shipped, and we hope that each one of you is still enjoying your watch- and that it continues to serve you well for years to come.
											</div>
											<p class="text-right">
												<a href="">Read More &gt;&gt;&gt;</a>
											</p>
											<div class="user-info">
												<div>
													<div class="user-avatar">
														<img class="img-circle" src="../img/test/test_img.png" />
														<div class="circle"></div>
													</div>
													<div class="identity">
														<p>James Tim</p>
														<p>Poster</p>
													</div>
												</div>
												<div class="u-date">Update 7/27/2021</div>
											</div>
										</div>

										<div class="item">
											<p class="sub-title">#20 One Year Later - Thank You</p>
											<hr />
											<div class="sub-text">
												Dearest Backers, Wow. This time last year, we had just finished the campaign that brought Linjer watches to life for the first time. To say the campaign was an overwhelming, humbling, and exceptional experience is an understatement, and it's thanks to all 4,771 of you that our watches are now a cornerstone part of the Linjer brand. The past year since the campaign ended has been filled with ups and downs, lessons learned, and watches shipped, and we hope that each one of you is still enjoying your watch- and that it continues to serve you well for years to come.
											</div>
											<p class="text-right">
												<a href="">Read More &gt;&gt;&gt;</a>
											</p>
											<div class="user-info">
												<div>
													<div class="user-avatar">
														<img class="img-circle" src="../img/test/test_img.png" />
														<div class="circle"></div>
													</div>
													<div class="identity">
														<p>James Tim</p>
														<p>Poster</p>
													</div>
												</div>
												<div class="u-date">Update 7/27/2021</div>
											</div>
										</div>

										<div class="item">
											<p class="sub-title">#20 One Year Later - Thank You</p>
											<hr />
											<div class="sub-text">
												Dearest Backers, Wow. This time last year, we had just finished the campaign that brought Linjer watches to life for the first time. To say the campaign was an overwhelming, humbling, and exceptional experience is an understatement, and it's thanks to all 4,771 of you that our watches are now a cornerstone part of the Linjer brand. The past year since the campaign ended has been filled with ups and downs, lessons learned, and watches shipped, and we hope that each one of you is still enjoying your watch- and that it continues to serve you well for years to come.
											</div>
											<p class="text-right">
												<a href="">Read More &gt;&gt;&gt;</a>
											</p>
											<div class="user-info">
												<div>
													<div class="user-avatar">
														<img class="img-circle" src="../img/test/test_img.png" />
														<div class="circle"></div>
													</div>
													<div class="identity">
														<p>James Tim</p>
														<p>Poster</p>
													</div>
												</div>
												<div class="u-date">Update 7/27/2021</div>
											</div>
										</div>

									</div>

								</div>
								<div role="tabpanel" class="tab-pane" id="history">
									<div class="screen-sales">
										<div class="btn-group">
											<button type="button" class="btn btn_time active">1M</button>
											<button type="button" class="btn btn_time">3M</button>
											<button type="button" class="btn btn_time">6M</button>
											<button type="button" class="btn btn_time">1Y</button>
										</div>
										<a href="">View Sales<span class="glyphicon glyphicon-menu-right"></span></a>
									</div>
									<div id="area-chart"></div>
									<a href="" class="more_price">Learn more about price history</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-4">
							<div class="right_1">
								<p class="sub-title">
									Product Description
								</p>
								<p class="text">
									Minimalist Watches Without the Luxury
								</p>
								<p class="sub-title">
									Poster
								</p>
								<div class="poster">
									<div>
										<img class="img-circle" src="../img/test/test_img.png" />
										<p>James Tim</p>
									</div>
									<div>
										<img class="img-circle" src="../img/test/test_img.png" />
										<p>King Kasui</p>
									</div>
								</div>
								<p class="sub-title">
									Category
								</p>
								<div class="category">
									<label>Desgin & Tech</label>
									<label>Desgin & Tech</label>
								</div>
								<p class="sub-title">
									Date
								</p>
								<p class="text">
									5/20/2021 - 10/21/2021
								</p>
								<p class="sub-title">
									Share Product
								</p>
								<div class="share">
									<a href=""><img class="img-responsive" src="../img/base/Facebook.png" alt="" /></a>
									<a href=""><img class="img-responsive" src="../img/base/Twitter.png" alt="" /></a>
									<a href=""><img class="img-responsive" src="../img/base/Instagram.png" alt="" /></a>
									<a href=""><img class="img-responsive" src="../img/base/Wechat.png" alt="" /></a>
								</div>
							</div>
							<div class="right_2">
								<p class="sub-title">
									Recommend Group Deals
								</p>
								<div class="recommend">
									<div class="img">
										<img class="img-responsive" src="../img/test/test_img1440-900.png" />
									</div>
									<div class="content">
										<h3 class="title">Saleave bread slippers for summer Saleave bread slippers for summerSaleave bread slippers for summerSaleave bread slippers for summerSaleave bread slippers for summer Saleave bread slippers for summerSaleave bread slippers for summerSaleave bread slippers for summerSaleave bread slippers for summer Saleave bread slippers for summerSaleave bread slippers for summerSaleave bread slippers for summerSaleave bread slippers for summer Saleave bread slippers for summerSaleave bread slippers for summerSaleave bread slippers for summer</h3>
										<p class="text">Mute EVA Sofa Slides Women Thick Sole Soft Indoor Slippers Women Anti-slip Sandals Men Summer Platform Women Shoes BathMute EVA Sofa Slides Women Thick Sole Soft Indoor Slippers Women Anti-slip Sandals Men Summer Platform Women Shoes BathMute EVA Sofa Slides Women Thick Sole Soft Indoor Slippers Women Anti-slip Sandals Men Summer Platform Women Shoes BathMute EVA Sofa Slides Women Thick Sole Soft Indoor Slippers Women Anti-slip Sandals Men Summer Platform Women Shoes BathMute EVA Sofa Slides Women Thick Sole Soft Indoor Slippers Women Anti-slip Sandals Men Summer Platform Women Shoes BathMute EVA Sofa Slides Women Thick Sole Soft Indoor Slippers Women Anti-slip Sandals Men Summer Platform Women Shoes Bath</p>

										<div class="money">
											<div>$3.2</div>
										</div>

										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
											</div>
										</div>

										<div class="time">
											<div>
												82 position of 100
											</div>
										</div>
										<div class="source">
											<div>
												Deal From Amazon
											</div>
											<div>
												End: 1/12/2021
											</div>
										</div>
									</div>
								</div>

								<div class="recommend">
									<div class="img">
										<img class="img-responsive" src="../img/test/test_img1440-900.png" />
									</div>
									<div class="content">
										<h3 class="title">Saleave bread slippers for summer Saleave bread slippers for summerSaleave bread slippers for summerSaleave bread slippers for summerSaleave bread slippers for summer Saleave bread slippers for summerSaleave bread slippers for summerSaleave bread slippers for summerSaleave bread slippers for summer Saleave bread slippers for summerSaleave bread slippers for summerSaleave bread slippers for summerSaleave bread slippers for summer Saleave bread slippers for summerSaleave bread slippers for summerSaleave bread slippers for summer</h3>
										<p class="text">Mute EVA Sofa Slides Women Thick Sole Soft Indoor Slippers Women Anti-slip Sandals Men Summer Platform Women Shoes BathMute EVA Sofa Slides Women Thick Sole Soft Indoor Slippers Women Anti-slip Sandals Men Summer Platform Women Shoes BathMute EVA Sofa Slides Women Thick Sole Soft Indoor Slippers Women Anti-slip Sandals Men Summer Platform Women Shoes BathMute EVA Sofa Slides Women Thick Sole Soft Indoor Slippers Women Anti-slip Sandals Men Summer Platform Women Shoes BathMute EVA Sofa Slides Women Thick Sole Soft Indoor Slippers Women Anti-slip Sandals Men Summer Platform Women Shoes BathMute EVA Sofa Slides Women Thick Sole Soft Indoor Slippers Women Anti-slip Sandals Men Summer Platform Women Shoes Bath</p>

										<div class="money">
											<div>$3.2</div>
										</div>

										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
											</div>
										</div>

										<div class="time">
											<div>
												82 position of 100
											</div>
										</div>
										<div class="source">
											<div>
												Deal From Amazon
											</div>
											<div>
												End: 1/12/2021
											</div>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</section>

			<!--buy-modal-->
			<div class="modal fade" id="buy-modal" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="buy-home">
								<div class="modal-header">

									<h4 class="modal-title">
										Select Position
										<a href="javascript:;" class="pull-right" data-dismiss="modal">&times;</a>
									</h4>
								</div>
								<div class="modal-body">
									<div class="table-responsive">
										<table class="table">
											<tr>
												<th>Ownership</th>
												<th>Price</th>
												<th></th>
											</tr>
											<tr>
												<td>
													<img src="../img/test/test_img.png" class="img-circle" />
													<span>James Tim</span>
												</td>
												<td>
													$<span>222</span>
												</td>
												<td>
													<a href="innovation_payment.html" class="btn">Select</a>
												</td>
											</tr>
											<tr>
												<td>
													<img src="../img/test/test_img.png" class="img-circle" />
													<span>James Tim</span>
												</td>
												<td>
													$<span>222</span>
												</td>
												<td>
													<a href="#buy-bid" class="btn" role="tab" data-toggle="tab">Bid</a>
												</td>
											</tr>
											<tr>
												<td>
													<img src="../img/test/test_img.png" class="img-circle" />
													<span>James Tim</span>
												</td>
												<td>
													$<span>222</span>
												</td>
												<td>
													<a href="innovation_payment.html" class="btn">Select</a>
												</td>
											</tr>
											<tr>
												<td>
													<img src="../img/test/test_img.png" class="img-circle" />
													<span>James Tim</span>
												</td>
												<td>
													$<span>222</span>
												</td>
												<td>
													<a href="#buy-bid" class="btn" role="tab" data-toggle="tab">Bid</a>
												</td>
											</tr>
											<tr>
												<td>
													<img src="../img/test/test_img.png" class="img-circle" />
													<span>James Tim</span>
												</td>
												<td>
													$<span>222</span>
												</td>
												<td>
													<a href="innovation_payment.html" class="btn">Select</a>
												</td>
											</tr>
											<tr>
												<td>
													<img src="../img/test/test_img.png" class="img-circle" />
													<span>James Tim</span>
												</td>
												<td>
													$<span>222</span>
												</td>
												<td>
													<a href="#buy-bid" class="btn" role="tab" data-toggle="tab">Bid</a>
												</td>
											</tr>
											<tr>
												<td>
													<img src="../img/test/test_img.png" class="img-circle" />
													<span>James Tim</span>
												</td>
												<td>
													$<span>222</span>
												</td>
												<td>
													<a href="innovation_payment.html" class="btn">Select</a>
												</td>
											</tr>
										</table>

									</div>

								</div>
							</div>

							<div role="tabpanel" class="tab-pane" id="buy-bid">
								<div class="modal-header">
									<h4 class="modal-title">
									<a href="#buy-home" data-toggle="tab" class="pull-left">&lt;</a>
									Place a Bid
									<a href="javascript:;" class="pull-right" data-dismiss="modal">&times;</a>
								</h4>
								</div>
								<div class="modal-body">
									<div class="bid-info">
										<img src="../img/test/test_img.png" class="img-circle" alt="" />
										<span>Ivan Polo</span>
										<span>Current Bid: $198</span>
										<span>End in: 1 d 12h 57m 42s</span>
									</div>
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th>Bidder</th>
													<th>Bid Amount</th>
													<th>Bid Time</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														<img src="../img/test/test_img.png" class="img-circle" />
														<span>James</span>
													</td>
													<td>
														$<span>212</span>
													</td>
													<td>
														8/11/2021 at 4:02:19pm PDT
													</td>
												</tr>
												<tr>
													<td>
														<img src="../img/test/test_img.png" class="img-circle" />
														<span>James Tim</span>
													</td>
													<td>
														$<span>222</span>
													</td>
													<td>
														8/11/2021 at 4:02:19pm PDT
													</td>
												</tr>
												<tr>
													<td>
														<img src="../img/test/test_img.png" class="img-circle" />
														<span>James Tim</span>
													</td>
													<td>
														$<span>222</span>
													</td>
													<td>
														8/11/2021 at 4:02:19pm PDT
													</td>
												</tr>
												<tr>
													<td>
														<img src="../img/test/test_img.png" class="img-circle" />
														<span>James Tim</span>
													</td>
													<td>
														$<span>222</span>
													</td>
													<td>
														8/11/2021 at 4:02:19pm PDT
													</td>
												</tr>
												<tr>
													<td>
														<img src="../img/test/test_img.png" class="img-circle" />
														<span>James Tim</span>
													</td>
													<td>
														$<span>222</span>
													</td>
													<td>
														8/11/2021 at 4:02:19pm PDT
													</td>
												</tr>
												<tr>
													<td>
														<img src="../img/test/test_img.png" class="img-circle" />
														<span>James Tim</span>
													</td>
													<td>
														$<span>222</span>
													</td>
													<td>
														8/11/2021 at 4:02:19pm PDT
													</td>
												</tr>
											</tbody>
										</table>
									</div>

									<div class="bid_post">
										<input type="text" value="" class="form-control" />
										<a href="javascript:;" class="form-control">Place a Bid</a>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<!--sell-modal-->

			<div class="modal fade" id="sell-modal" tabindex="-1">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">
			        	 Select Sell Type
			        	<a href="javascript:;" class="pull-right" data-dismiss="modal">&times;</a>
			        </h4>
						</div>
						<div class="modal-body">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active">
									<a href="#sell-now" aria-controls="sell-now" role="tab" data-toggle="tab">Sell Now</a>
								</li>
								<li role="presentation">
									<a href="#start-bid" aria-controls="start-bid" role="tab" data-toggle="tab">Start Bid</a>
								</li>
							</ul>
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="sell-now">
									<div>
										<input type="text" placeholder="Enter Price" />
										<a href="javascript:;">SELL</a>
									</div>
									<a href="">Learn more about refund policy</a>
								</div>
								<div role="tabpanel" class="tab-pane" id="start-bid">
									<div>
										<input type="text" placeholder="Enter Price" />
										<a href="javascript:;">Start Bid</a>
									</div>
									<hr />
									<div class="expiration">
										<span>Expiration: </span>
										<select name="">
											<option value="3">3 Days</option>
											<option value="7">7 Days</option>
											<option value="15">15 Days</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</main>
		<footer>
			<hr />
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
						<img class="img-responsive" src="../img/base/logo.png" />
					</div>
					<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
						<p class="title">How it work</p>
						<p>
							<a href="">How to create a project</a>
						</p>
						<p>
							<a href="">How to support a project</a>
						</p>
						<p>
							<a href="">How to earn Birdie Coin and how it works</a>
						</p>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
						<p class="title">Our Feature</p>
						<p>
							<a href="">Lorem ipsum dolor </a>
						</p>
						<p>
							<a href="">Lorem ipsum dolor </a>
						</p>
					</div>
					<div class="clearfix visible-xs-block visible-sm-block"></div>
					<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
						<p class="title">ABOUT US</p>
						<p>
							<a href="">Our mission</a>
						</p>
						<p>
							<a href="">Meet the team</a>
						</p>
						<p>
							<a href="">Blog</a>
						</p>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
						<p class="title">SUPPORT</p>
						<p>
							<a href="">FAQ</a>
						</p>
						<p>
							<a href="">Contact us</a>
						</p>
					</div>
					<div class="clearfix visible-xs-block"></div>
					<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
						<p class="title">FIND US</p>
						<p class="text">Phone:89490234</p>
						<p class="text">Email: ifojas@gamail.com</p>
						<p class="text">Address: iasudidasdas.dais,la,91748</p>
						<div class="icon">
							<a href=""><img class="img-responsive" src="../img/base/Facebook.png" alt="facebook" /></a>
							<a href=""><img class="img-responsive" src="../img/base/Instagram.png" alt="instagram" /></a>
							<a href=""><img class="img-responsive" src="../img/base/Twitter.png" alt="twitter" /></a>
							<a href=""><img class="img-responsive" src="../img/base/Wechat.png" alt="wechat" /></a>
						</div>
					</div>
				</div>

			</div>

			<hr />
			<div class="copy_right">
				<span>Copy right © 2021 FUNDABIRD</span>
				<span><a href="">Terms of Use</a></span>
				<span><a href="">Privacy Policy</a></span>
			</div>
		</footer>
		<!--公共js-->
		<script src="../js/jquery-3.3.1.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/global.js"></script>
		<!--私有js-->
		<script type="text/javascript" src="../js/flexible.js"></script>
		<script type="text/javascript" src="../js/iscroll.js"></script>
		<script type="text/javascript" src="../js/navbarscroll.js"></script>
		<script src="../js/jquery.simpleLoadMore.js"></script>
		<script src="../js/echarts.min.js"></script>

		<script type="text/javascript">
			$(function() {
				$('.wrapper').navbarscroll();
			});
		</script>

		<script type="text/javascript">
			$('.reply_btn').click(function() {
				r_id = $(this).attr('href')
				$(r_id).removeClass('hidden')
			})
		</script>

		<!--load more-->
		<script type="text/javascript">
			$('.reply-list').simpleLoadMore({
				item: 'div.r-item',
				count: 2
			});

			$('.update-list').simpleLoadMore({
				item: 'div.item',
				count: 2
			});
		</script>

		<script type="text/javascript">
			$(function() {
				$('.panel').on('hide.bs.collapse show.bs.collapse', function(e) {
					var $this = $(this)
					$this.find('i').toggleClass('glyphicon-menu-right')
					$this.find('i').toggleClass('glyphicon-menu-down')
				})
			})
		</script>

		<script type="text/javascript">
			$(function() {
				$('.btn_time').click(function(e) {
					e.preventDefault();
					$('.btn_time').removeClass('active');
					$(this).addClass('active');
				});
			});
		</script>

		<!--price history-->
		<script type="text/javascript">
			// 基于准备好的dom，初始化echarts实例
			var historyChart = echarts.init(document.getElementById('area-chart'), null, {
				renderer: 'svg',
				locale: 'EN'
			});

			// 指定图表的配置项和数据
			var option = {
				color: ['rgba(59, 217, 92, 0.15)'],
				xAxis: {
					type: 'category',
					boundaryGap: false,
					data: ['7/23', '7/24', '7/25', '7/26', '7/27', '7/28', 'Yesterday']
				},
				yAxis: {
					type: 'value',
					name: 'Money($)'
				},
				series: [{
					data: [130, 150, 140, 160, 190, 170, 180],
					type: 'line',
					areaStyle: {}
				}]
			};

			// 使用刚指定的配置项和数据显示图表。
			historyChart.setOption(option);
		</script>
	</body>

</html>