.section1 h1.title {
	margin-top: 50px;
	margin-bottom: 25px;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	color: #000000;
}

.section1 .clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.section1 .clearfix {
	*zoom: 1;
	margin-bottom: 30px;
	padding-inline-start: 0;
}

.section1 .wrapper03 {
	position: relative;
	height: 30px;
	width: 100%;
	overflow: hidden;
	margin: 0 auto 50px;
	border-top: 1px solid #000
}

.section1 .wrapper03 .scroller {
	position: absolute;
	width: 750px !important;
}

.section1 .wrapper03 .scroller li {
	list-style: none;
	height: 30px;
	color: #000;
	float: left;
	line-height: 22px;
	font-size: 18px;
	text-align: center
}

.section1 .wrapper03 .scroller li a {
	margin-right: 80px;
	border-top: 3px solid #FFF;
	font-family: "Montserrat", sans-serif;
	color: #000;
	display: block;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
}

.section1 .wrapper03 .scroller li.cur a {
	color: #000;
	height: 30px;
}

.section1 .wrapper03 .scroller li.active a {
	border-top: 3px solid #000;
	font-weight: bold;
}

.section1 div.tab-content h2.title {
	margin-top: 0;
	margin-bottom: 37px;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #0C0C0C;
}

.section1 #account_setting .user-info {
	display: flex;
	justify-content: space-between;
}

.section1 #account_setting .u-avatar {
	display: flex;
	justify-content: flex-start;
}

.section1 #account_setting .u-avatar img {
	margin-right: 22px;
	width: 64px;
	height: 64px;
}

.section1 #account_setting .u-avatar .upload_btn {
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	color: #000000;
}

.section1 #account_setting .u-avatar .upload_btn a {
	text-decoration-line: underline;
	color: #3B61D9;
}

.section1 #account_setting .user-info .u-cons {
	font-weight: bold;
	font-size: 16px;
	line-height: 30px;
	color: #000000;
}

.section1 #account_setting .user-info .u-cons img {
	margin-right: 9px;
	width: 30px;
	height: 30px;
}

.section1 #account_setting .update_info div.clearfix {
	margin-bottom: 50px;
}

.section1 input,
.section1 select{
	margin-top: 30px;
	border: 1px solid #000000;
	border-radius: 8px;
}

.section1 #account_setting .update_info input[type='submit'],
.section1 #account_setting .update_pwd input[type='submit'],
.section1 #payment_methods .create_payment input[type='submit'],
.section1 #shipping_address .create_address input[type='submit'] {
	border: none;
	color: #FFF;
	background: #3B61D9;
	width: 50%;
}

.section1 #account_setting .oprate p {
	margin-bottom: 0;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #0C0C0C;
}

.section1 #account_setting .oprate p a {
	color: #3B61D9;
	font-weight: normal;
}

.section1 #payment_methods .card_code,
.section1 #shipping_address .create_addr {
	display: flex;
	justify-content: space-between;
}

.section1 #payment_methods .card_code input,
.section1 #shipping_address .create_addr input,
.section1 #shipping_address .create_addr select {
	width: 48%;
}

.section1 #payment_methods .card_info,
.section1 #shipping_address .addr_info {
	display: flex;
	justify-content: space-between;
}

.section1 #payment_methods .card_info img {
	height: 30px;
}

.section1 #payment_methods .card_info p {
	margin-bottom: 0;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #0C0C0C;
}

.section1 #payment_methods .card_info p a {
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-decoration-line: underline;
	color: #3B61D9;
}


.section1 #shipping_address .addr_info p {
	margin-bottom: 0;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #0C0C0C;
}

.section1 #shipping_address .addr_info p a {
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-decoration-line: underline;
	color: #3B61D9;
}


.section1 #shipping_address .addr_info p {
	margin-bottom: 15px;
}
.section1 #shipping_address .addr_info div p {
	margin-right: 20px;
}

@media only screen and (max-width: 640px) {
	.section1 h1.title {
		font-size: 26px;
	}
	.section1 div.tab-content h2.title {
		font-size: 22px;
	}
}