hr {
	border-top-color: #000;
}

.form-control {
	margin-bottom: 30px;
	border: 1px solid #000000;
	border-radius: 8px;
}

.input-group-addon {
	border: 1px solid #000;
	border-right: none;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	background-color: transparent;
}

.form-control:focus {
	box-shadow: none;
	border-color: #000;
}

.mb40 {
	margin-bottom: 40px;
}

.mb70 {
	margin-bottom: 70px;
}

.section1 .breadcrumb {
	margin-bottom: 30px;
	background-color: transparent;
	padding: 50px 0 0;
}

.section1 .breadcrumb a {
	color: #D8D8D8;
}

.section1 .breadcrumb .active {
	color: #0C0C0C;
	width: 270px;
	vertical-align: bottom;
	overflow: hidden;
	
	white-space: nowrap;
	text-overflow: ellipsis;
}

.section1 .project_img {
	margin-bottom: 15px;
}

.section1 p.title {
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #0C0C0C;
}

.section1 p.sub_title {
	margin-bottom: 27px;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #0C0C0C;
}

.section1 p.text {
	margin-bottom: 16px;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #0C0C0C;
}

.section1 p.money {
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}

.section1 p.p-date {
	margin-bottom: 0;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

.section1 p.idea-text {
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #0C0C0C;
}

.section1 .input-money {
	border-left: none;
	width: 50%;
}

.section1 .sub-title {
	margin-bottom: 7px;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

.section1 .sub-title a {
	color: #3b61d9;
	text-decoration: underline;
}

.section1 .payment {
	margin-bottom: 35px;
	display: flex;
	justify-content: flex-start;
}

.section1 img.h30 {
	margin-right: 16px;
	height: 30px;
}

.section1 .payment img.img-circle {
	margin-right: 10px;
	width: 30px;
	height: 30px;
}

.section1 .payment span {
	font-weight: bold;
	font-size: 16px;
	line-height: 30px;
	color: #000000;
}

.section1 .cw {
	display: flex;
	justify-content: space-between;
}

.section1 .cw input {
	width: 46%;
}

.section1 .card-number {
	display: flex;
	justify-content: space-between;
}
.section1 .card-number input{
	width: 47%;
}

.section1 .p-order_btn {
	margin-top: 115px;
	margin-bottom: 10px;
	padding: 9px 0;
	width: 374px;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
	background: #3B61D9;
	border-radius: 8px;
	border: none;
}

.section1 .o-summry {
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

.section1 .o-summry p {
	margin-bottom: 20px;
}

.section1 .o-summry p.sub-title {
	font-weight: bold;
}

.section1 .o-summry div.o-info div {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}

.section1 .o-summry div.o-info div span:first-child {
	width: 256px;
	overflow: hidden;
	
	white-space: nowrap;
	text-overflow: ellipsis;
}

.section1 .o-summry div.o-info div:last-child span:first-child {
	margin-bottom: 53px;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

.section1 .o-summry a {
	margin-bottom: 50px;
	display: block;
	color: #3b61d9;
	text-decoration: underline;
}

.section1 .o-summry p.text {
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #0C0C0C;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.section1 .sub-title {
		font-size: 13px;
	}
}
@media only screen and (max-width: 640px) {
	.section1 .p-order_btn {
		margin-top: 30px;
		width: 100%;
	}
	.section1 .sub-title {
		font-size: 12px;
	}
}