<div class="list-group">
    <div class="user-info">
        <span>用户：{{ g.user.username }}</span>
    </div>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" id="m-1">
            <a href="{{ url_for('manage.index') }}"><span class="glyphicon glyphicon-home"></span>Index</a>
        </li>
        <li role="presentation" id="m-2">
            <a href=""><span class="glyphicon glyphicon-gift"></span>Commodity Management</a>
        </li>
        <li role="presentation" id="m-3">
            <a href="{{ url_for('manage.user_list') }}"><span class="glyphicon glyphicon-user"></span>Users Management</a>
        </li>
        <li role="presentation" id="m-4">
            <a href="{{ url_for('manage.admin_list') }}"><span class="glyphicon glyphicon-user"></span>Admin Management</a>
        </li>
        <li role="presentation" id="m-5">
            <a href="#"><span class="glyphicon glyphicon-comment"></span>Comment Management</a>
        </li>
        <li role="presentation" id="m-6">
            <a href="#"><span class="glyphicon glyphicon-heart"></span>Collection Management</a>
        </li>
        <li role="presentation" id="m-7">
            <a href="#"><span class="glyphicon glyphicon-cog"></span>System Conf Management</a>
        </li>
    </ul>
</div>
